<section class="details">
  <div class="container">
    <h2 class="details-title">Details Services</h2>
    <h3 class="details-subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</h3>

    <div class="details-info">
      <div class="details-descriptions">
        <div class="details-description__item">
          <h4 class="details-description__item-title">Graphic Design</h4>
          <p class="details-description__item-text">At vero eos et accusamus et <a href="#" title="iusto" class="link" aria-label="link to iusto">iusto</a> odio dignissimos <span class="text-bold">ducimus</span> qui blanditiis praesentium voluptatum deleniti</p>
        </div>

        <div class="details-description__item">
          <p class="details-description__item-text">quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <a href="#" title="iusto" class="link" aria-label="link to similique sunt">similique sunt</a> in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>
      </div>

      <div class="details-indicators">
        <div class="details-indicators__item">
          <div class="details-indicators__circle">
            <div class="details-indicators__block">
              <p class="details-indicators__number">80%</p>
            </div>
          </div>
          <div class="details-indicators__title">Branding</div>
        </div>

        <div class="details-indicators__item">
          <div class="details-indicators__circle">
            <div class="details-indicators__block">
              <p class="details-indicators__number">75%</p>
            </div>
          </div>
          <div class="details-indicators__title">Web Design</div>
        </div>

        <div class="details-indicators__item">
          <div class="details-indicators__circle">
            <div class="details-indicators__block">
              <p class="details-indicators__number">60%</p>
            </div>
          </div>
          <div class="details-indicators__title">UI/UX</div>
        </div>
      </div>
    </div>
  </div>
</section>
