@import '../../style/vars.scss';

.services {
  background-color: $color-superLightGray;
  padding: 73px 0 70px;

  &-title {
    @include title-style;
    margin-bottom: 80px;
  }
  & .react-tabs__tab--selected {
    background-color: $color-green;
    cursor: default;
    &:hover {
      background: $color-green;
    }
  }
  &-tab {
    &__btns {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      & img {
        width: 25px;
        margin-bottom: 6px;
      }
    }
    &__btn {
      cursor: pointer;
      min-width: 100px;
      height: 60px;
      background-color: $color-blackGray;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      color: #fff;
      &:hover {
        background: $color-darkGreen;
      }
    }
  }
  &-panel {
    margin-bottom: 20px;
  }
  &-tabs {
    margin: 40px auto 0;
    display: block;
    padding: 20px;
    border-radius: 20px;
  }
  &-tab {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    & h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 28px;
    }
    & p {
      line-height: 30px;
      font-size: 16px;
    }
  }
}

@media (max-width: 700px) {
  .services {
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .services {
    &-tabs {
      padding: 20px 0;
    }
  }
}
