@use '../../style/vars.scss' as *;
.price {
  padding: 70px 0 40px;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 50px auto 0;
  }
  &-card {
    margin: 0 25px 50px;
    width: 238px;
    background-color: $color-blackGray;
    &__title {
      font-weight: bold;
      @include title-style;
      margin-bottom: 0;
      padding: 30px 0;
      background-color: $color-green;
      color: $color-white;
    }
    &__info {
      @include center-block;
      width: 100%;
      height: 236px;
      &-cost {
        color: $color-green;
        font-family: $font-SourceSansPro-Black;
        font-size: 42px;
        margin-bottom: 10px;
      }
      &-time {
        font-size: 20px;
        color: $color-lightGray;
      }
      &-services {
        color: $color-lightGray;
        line-height: 25px;
      }
    }
    &__start {
      background-color: $color-green;
      padding: 30px 0;
      position: relative;
      width: 100%;
      font-size: 16px;
      color: $color-white;
      &:before {
        content: '';
        position: absolute;
        background-image: url('../media/image/global-icons/arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        top: 50%;
        right: 60px;
        transform: translateY(-50%) rotate(-90deg);
        transition: 0.2s linear;
      }
      &:hover {
        background-color: $color-darkGreen;
        &:before {
          right: 50px;
        }
      }
    }
  }
  &-popup {
    &__title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__text {
      line-height: 23px;
      font-size: 15px;
    }
  }
}

html.dark {
  .price-card__info {
    &-services {
      color: $color-superLightGray;
    }
    &-time {
      color: $color-superLightGray;
    }
  }
}
