<section class="price">
  <h2 class="price-title">Our Price</h2>
  <h3 class="price-subtitle">
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
    praesentium
  </h3>

  <div class="price-cards">
    <!-- 1 -->
    <div class="price-card">
      <h4 class="price-card__title">PREMIUM</h4>

      <div class="price-card__info">
        <p class="price-card__info-cost">$ 60</p>
        <p class="price-card__info-time">Per Month</p>
      </div>
    </div>
    <!-- 2 -->
    <div class="price-card">
      <div class="price-card__info">
        <ul class="price-card__info-services">
          <li>Full Branding</li>
          <li>Project Management</li>
          <li>Unlimited Revisions</li>
          <li>24/7 h Service</li>
          <li>Free Domain</li>
          <li>Free Hosting</li>
        </ul>
      </div>
      <button title="Lets start" class="price-card__start" id="price-card__start">Let’s Start</button>
    </div>
    <!-- 3 -->
    <div class="price-card">
      <h4 class="price-card__title">EXCLUSIVE</h4>

      <div class="price-card__info">
        <p class="price-card__info-cost">$ 80</p>
        <p class="price-card__info-time">Per Month</p>
      </div>
    </div>
  </div>
</section>
