<section
  class="impressed lazy-bg"
  id="impressed"
  data-bg="./media/image/impressed/impressed-bg.jpg"
>
  <div class="container">
    <div class="impressed-inner">
      <div class="impressed-info">
        <h3 class="impressed-info__title">Impressed ?</h3>
        <p class="impressed-info__description">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias
        </p>
        <p class="impressed-info__author">- Abdullah Noman</p>
        <p class="impressed-info__text">
          Creatice Director,
          <a
            href="#"
            title="Code Cafe"
            class="link"
            aria-label="link to Code Cafe"
            >Code Cafe</a
          >
        </p>
      </div>

      <div class="impressed-img">
        <picture class="lazy-picture">
          <source
            data-srcset="./media/image/impressed/display.avif"
            type="image/avif"
            srcset="./media/image/global-icons/1x1.png"
          />
          <source
            data-srcset="./media/image/impressed/display.webp"
            type="image/webp"
            srcset="./media/image/global-icons/1x1.png"
          />
          <img
            data-src="./media/image/impressed/display.png"
            src="./media/image/global-icons/1x1.png"
            alt="image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
