@import '../../style/vars.scss';
.subscribe {
  padding: 70px 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: url('/image/subscribe/subscribe-bg.webp');
  &-title {
    @include title-style;
    color: $color-white;
  }
  &-subtitle {
    @include subTitle-style;
    color: $color-white;
    margin-bottom: 40px;
  }
  &-form {
    text-align: center;
    &__input {
      border: 1px solid $color-lightGray;
      background-color: transparent;
      width: 360px;
      height: 44px;
      padding: 10px;
      color: $color-white;
    }
    &__btn {
      height: 44px;
      width: 150px;
      background-color: $color-green;
      color: $color-white;
      &:hover {
        background-color: $color-darkGreen;
      }
    }
  }
}

@media (min-width: 890px) {
  .subscribe {
    background-size: cover !important;
  }
}

@media (max-width: 620px) {
  .subscribe {
    &-form {
      &__input {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 100%;
      }
    }
  }
}
