<section class="team" id="team">
  <div class="container">
    <h2 class="team-title">THE TEAM</h2>
    <h3 class="team-subtitle">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </h3>

    <div class="team-swiper">
      <div class="swiper-wrapper">
        <!-- 1 -->
        <div class="swiper-slide">
          <div class="team-slide">
            <div class="team-slide__img">
              <picture class="lazy-picture">
                <source
                  data-srcset="./media/image/team/team-1.avif"
                  type="image/avif"
                  srcset="./media/image/global-icons/1x1.png"
                />
                <source
                  data-srcset="./media/image/team/team-1.webp"
                  type="image/webp"
                  srcset="./media/image/global-icons/1x1.png"
                />
                <img
                  data-src="./media/image/team/team-1.jpg"
                  src="./media/image/global-icons/1x1.png"
                  alt="Image"
                />
              </picture>
            </div>

            <div class="team-slide__info">
              <div class="team-slide__titles">
                <h4 class="team-slide__title">Abdullah Noman</h4>
                <h5 class="team-slide__subtitle">
                  Creative Director, Code Cafe
                </h5>
              </div>

              <p class="team-slide__text">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium
              </p>

              <div class="team-slide__indicators">
                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>BRANDING</h6>
                    <p>80 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>

                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>Web Design</h6>
                    <p>65 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>

                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>User Interface</h6>
                    <p>75 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="swiper-slide">
          <div class="team-slide">
            <div class="team-slide__img">
              <picture class="lazy-picture">
                <source
                  data-srcset="./media/image/team/team-2.avif"
                  type="image/avif"
                  srcset="./media/image/global-icons/1x1.png"
                />
                <source
                  data-srcset="./media/image/team/team-2.webp"
                  type="image/webp"
                  srcset="./media/image/global-icons/1x1.png"
                />
                <img
                  data-src="./media/image/team/team-2.jpg"
                  src="./media/image/global-icons/1x1.png"
                  alt="Image"
                />
              </picture>
            </div>

            <div class="team-slide__info">
              <div class="team-slide__titles">
                <h4 class="team-slide__title">Emma Thompson</h4>
                <h5 class="team-slide__subtitle">
                  Creative Director, Code Cafe
                </h5>
              </div>

              <p class="team-slide__text">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium
              </p>

              <div class="team-slide__indicators">
                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>BRANDING</h6>
                    <p>30 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>

                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>Web Design</h6>
                    <p>15 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>

                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>User Interface</h6>
                    <p>100 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="swiper-slide">
          <div class="team-slide">
            <div class="team-slide__img">
              <picture class="lazy-picture">
                <source
                  data-srcset="./media/image/team/team-3.avif"
                  type="image/avif"
                  srcset="./media/image/global-icons/1x1.png"
                />
                <source
                  data-srcset="./media/image/team/team-3.webp"
                  type="image/webp"
                  srcset="./media/image/global-icons/1x1.png"
                />
                <img
                  data-src="./media/image/team/team-3.jpg"
                  src="./media/image/global-icons/1x1.png"
                  alt="Image"
                />
              </picture>
            </div>

            <div class="team-slide__info">
              <div class="team-slide__titles">
                <h4 class="team-slide__title">Benjamin Walker</h4>
                <h5 class="team-slide__subtitle">
                  Creative Director, Code Cafe
                </h5>
              </div>

              <p class="team-slide__text">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium
              </p>

              <div class="team-slide__indicators">
                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>BRANDING</h6>
                    <p>81 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>

                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>Web Design</h6>
                    <p>67 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>

                <div class="team-slide__indicator">
                  <div class="team-slide__indicator-info">
                    <h6>User Interface</h6>
                    <p>39 %</p>
                  </div>
                  <div class="team-slide__indicator-line"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
