.text-bold {
  font-weight: bold;
}

.link {
  color: #19bd9a;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}

@media (min-width: 890px) {
  .header-nav ul {
    transform: translateX(0) !important;
  }
  .portfolio-item__hover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "SourceSansPro Light";
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    display: grid;
    place-self: center;
    align-items: flex-end;
    overflow-y: auto;
  }
  .portfolio-item:hover .portfolio-item__hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
  .intro,
  .impressed,
  .subscribe {
    background-size: cover !important;
  }
}
@media (max-width: 1100px) {
  .featured-items {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 60px auto 0;
  }
  .featured-item:nth-child(1) {
    grid-column: 1/3;
  }
  .featured-item:nth-child(2) {
    grid-column: 1/1;
  }
  .featured-item:nth-child(3) {
    grid-column: 2/2;
  }
  .featured-item .featured-item__hover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "SourceSansPro Light";
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    opacity: 1;
    visibility: visible;
  }
  .impressed-inner {
    flex-wrap: wrap-reverse;
  }
  .impressed-info {
    width: 100%;
  }
  .impressed-img {
    text-align: center;
    width: 100%;
  }
  .impressed-img img {
    max-width: 100%;
  }
  .portfolio-items {
    -moz-columns: 3;
         columns: 3;
    width: 98%;
    margin: 0 auto;
  }
}
@media (max-width: 890px) {
  .header-inner {
    align-items: flex-start;
  }
  .header-nav.active {
    width: 100%;
    height: 200vh;
    background-color: rgba(35, 35, 35, 0.9);
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.3s linear;
  }
  .header-nav ul {
    transform: translateX(-100%) !important;
    transition: 0.2s linear;
    display: block;
    background-color: #0d787d;
    height: 100vh;
    width: 200px;
    padding: 50px 30px;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: auto;
    display: none;
    display: flex;
    flex-direction: column;
  }
  .header-nav ul li {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .header-nav a:before {
    display: none;
  }
  .header .burger {
    position: relative;
    right: 34px;
    top: 0;
    display: block;
    z-index: 999;
  }
  .header .burger.active {
    position: fixed;
    top: 10px;
    right: 36px;
  }
  .header .burger span {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: 0.2s linear;
  }
  .header .burger.active span {
    background-color: #ff0000;
  }
  .header .burger.active span:nth-child(1) {
    transform: rotate(-135deg);
    top: 10px;
  }
  .header .burger span:nth-child(2) {
    top: 10px;
  }
  .header .burger.active span:nth-child(2) {
    transform: rotate(-46deg);
  }
  .header .burger span:last-child {
    top: 20px;
  }
  .header .burger.active span:nth-child(3) {
    transform: rotate(-135deg);
    top: 10px;
    opacity: 0;
  }
  .intro {
    background-size: cover !important;
  }
  .about-inner {
    flex-wrap: wrap-reverse;
    text-align: center;
  }
  .about-content {
    width: 100%;
  }
  .about-content__title {
    text-align: center;
  }
  .about-content__text {
    margin: 50px auto 50px;
    display: block;
  }
  .about-img {
    width: 100%;
    margin-bottom: 60px;
  }
  .news {
    background: #19bd9a;
  }
  .news-inner {
    display: block;
    text-align: center;
  }
  .news-submit {
    margin-top: 30px;
  }
  .details-info {
    justify-content: center;
  }
  .details-descriptions {
    width: 80%;
  }
  .details-indicators {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
  }
  .portfolio-items {
    -moz-columns: 2;
         columns: 2;
  }
  .portfolio-item__hover {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    overflow-y: auto;
  }
  .portfolio-item .portfolio-showBlockHover {
    display: block;
  }
  .team-slide__titles {
    text-align: center;
    margin-top: 20px;
  }
  .team-slide__titles::before {
    display: none;
  }
  .team-slide__title {
    text-align: center;
  }
  .team-slide__text {
    margin: 0 auto;
    text-align: center;
  }
  .team-slide__img {
    margin: 0 auto;
  }
  .team-slide__info {
    width: 100%;
  }
  .team-slide__indicators {
    max-width: 400px;
    margin: 30px auto 0;
  }
  .testimonials-slide {
    padding: 50px 30px 70px;
  }
  .contactform input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .services {
    padding-bottom: 20px;
  }
  .services-tab__content {
    display: block;
    text-align: center;
  }
  .services-tab__block1 {
    margin: 0 auto;
    width: 100%;
  }
  .services-tab__block2 {
    margin: 30px auto 30px;
    width: 100%;
  }
  .impressed {
    background-size: cover;
  }
  .portfolio-start {
    background-size: cover;
  }
  .testimonials-slide {
    flex-wrap: wrap;
  }
  .testimonials-slide__img {
    text-align: center;
    margin: 0 auto;
    max-width: 130px;
  }
  .testimonials-slide__info {
    margin-top: 30px;
  }
  .testimonials-slide__info-text {
    width: 100%;
  }
}
@media (max-width: 620px) {
  .featured-items {
    grid-template-columns: 300px;
    margin: 60px auto 0;
  }
  .featured-item:nth-child(1) {
    grid-column: 1/1;
  }
  .featured-item:nth-child(2) {
    grid-column: 1/1;
  }
  .featured-item:nth-child(3) {
    grid-column: 2/1;
  }
  .portfolio-items {
    -moz-columns: 1;
         columns: 1;
  }
  .talk {
    background-size: cover;
  }
  .subscribe-form__input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
  }
}
@media (max-width: 490px) {
  .details-descriptions {
    padding: 0;
  }
  .details-indicators {
    flex-wrap: wrap;
  }
  .details-indicators__item {
    margin-bottom: 40px;
  }
  .testimonials-slide {
    padding: 50px 10px 80px;
  }
}