<section class="featured">
  <div class="container">
    <h2 class="featured-title">FEATURED PROJECTS</h2>
    <h3 class="featured-subTitle">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium
    </h3>

    <div class="featured-items">
      <div class="featured-item">
        <div class="featured-item__img">
          <img
            class="lozad"
            data-src="./media/image/featured/item1.webp"
            alt="Image"
            src="./media/image/global-icons/1x1.webp" 
          />
        </div>
        <div class="featured-item__hover">
          <p>Featured</p>
        </div>
      </div>

      <div class="featured-item">
        <div class="featured-item__img">
          <img
            class="lozad"
            data-src="./media/image/featured/item2.webp"
            alt="Image"
            src="./media/image/global-icons/1x1.webp" 
          />
        </div>
        <div class="featured-item__hover">
          <p>VINTAGE</p>
        </div>
      </div>

      <div class="featured-item">
        <div class="featured-item__img">
          <img
            class="lozad"
            data-src="./media/image/featured/item3.webp"
            alt="Image"
            src="./media/image/global-icons/1x1.webp" 
          />
        </div>
        <div class="featured-item__hover">
          <p>Branding</p>
        </div>
      </div>
    </div>
  </div>
</section>
