@use './vars.scss' as *;

.hidden-block-active {
  overflow: hidden;
  position: relative;
  border-radius: 0 0 40px 40px;
}
.hidden-block-active::before {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  height: 60px;
  box-shadow: 3px -77px 48px 36px $color-darkGreen;
  z-index: 10;
}
.hidden-block-btn {
  padding: 6px 25px;
  border-radius: 40px;
  border: 1px solid $color-blackGray;
  color: #333b46;
  font-size: 16px;
  background: transparent;
  border-color: $color-white;
  color: $color-white;
  z-index: 11;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.hidden-block-btn:hover {
  background: $color-green;
  color: $color-white;
}
