@use './stylereset.css' as *;
@use './vars.scss' as *;
@use './loader.scss' as *;
@use './fonts.scss' as *;
@use './darkTheme.scss' as *;

body {
  height: 100%;
  font-family: $font-OpenSans-Regular;
  color: $color-lightGray;
  overflow-y: scroll;
}
body.noScroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $color-lightGray;
}
::-webkit-scrollbar-thumb {
  background: $color-blackGray;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-darkGreen;
}

.burger {
  display: none;
}
[data-filter] {
  user-select: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1174px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden-text {
  display: none;
}
.show-inline {
  display: inline-block;
}
.show-block {
  display: block;
}
.show-transition-block {
  opacity: 1 !important;
  visibility: visible !important;
}
.hidden {
  display: none !important;
}
.hidden-transition-block {
  opacity: 0;
  visibility: hidden;
}
.swiper-slide {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.page {
  padding-top: 55px;
}

select {
  cursor: pointer;
}
