@use '../../style/vars.scss' as *;
.footer {
  padding: 70px 0;
  text-align: center;
  border-top: 1px solid #e4e1e1;
  &-logo {
    @include logo;
    color: $color-blackGray;
  }
  &-title {
    @include subTitle-style;
    margin: 20px auto;
  }
  &-social {
    & a img {
      margin: 0 5px;
      height: 25px;
      height: 25px;
    }
  }
}

html.dark {
  .footer {
    &-title {
      color: $color-superLightGray;
    }
  }
}
