@import 'stylereset';
@import 'vars';
@import 'fonts';
@import '../../node_modules/swiper/swiper-bundle';

html,
body {
  height: 100%;
  font-family: $font-OpenSans-Regular;
  color: $color-lightGray;
}
body.noScroll {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-lightGray;
}

::-webkit-scrollbar-thumb {
  background: $color-blackGray;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-darkGreen;
}
.burger {
  display: none;
}

.tab {
  &-btn {
    &-active {
      pointer-events: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &-pane:not(.tab-pane-show) {
    display: none;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1174px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.about-hidden-text {
  display: none;
}
.show {
  display: inline-block;
}

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(30, 29, 29, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  @include center-block;
  &-content {
    max-width: 700px;
    width: 100%;
    max-height: 600px;
    background-color: $color-white;
    padding: 40px;
    position: relative;
    overflow-y: auto;
    border-radius: 10px;
    &__close {
      position: absolute;
      top: 0;
      right: 5px;
      color: $color-red;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: $color-green;
      }
    }
  }
  &.popup-active {
    opacity: 1;
    visibility: visible;
  }
}

.popup-text {
  margin-top: 50px;
  line-height: 25px;
}

.header {
  padding: 44px 0;
  position: absolute;
  width: 100%;
  z-index: 990;

  &-inner {
    @include leveling;
  }
  &-logo {
    @include logo;
  }
  &-nav {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      align-items: center;
    }
    & a {
      padding: 6px 18px;
      color: $color-white;
      font-size: 16px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: $color-green;
        transition: width 0.35s;
      }
      &:hover:before {
        width: 100%;
      }
      &.active {
        border: 1px solid $color-white;
        border-radius: 40px;
        &:hover:before {
          width: 0;
        }
      }
    }
  }
  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: rgb(13, 120, 125, 0.9);
    padding: 16px 0;
    animation: slideDown 0.3s ease;
  }
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.intro {
  @include center-block;
  background: url('../media/image/intro/intro-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 737px;
  text-align: center;
  color: $color-white;
  position: relative;
  max-width: 1900px;
  margin: 0 auto;

  &-title {
    @include title-style;
    font-size: 35px;
    color: $color-white;
    letter-spacing: 15px;
    margin-top: 200px;
    line-height: 50px;
  }
  &-subTitle {
    @include subTitle-style;
    max-width: 600px;
    margin: 42px auto 200px;
    color: $color-white;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 28px;
  }

  &-btn__down {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-green;
    @include center-block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: $color-darkGreen;
    }
  }
}

.about {
  padding: 80px 0 60px;

  & .container {
    max-width: 896px;
    padding: 0 50px;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &-content {
    &__title {
      @include title-style;
      text-align: left;
    }
    &__text {
      @include subTitle-style;
      max-width: 470px;
      margin: 0 0 50px;
      text-align: left;
    }
    &__btn {
      @include btn-style;
    }
  }
  &-img {
    text-align: center;
  }
}

.services {
  background-color: $color-superLightGray;
  padding: 73px 0 99px;

  &-title {
    @include title-style;
  }
  &-subTitle {
    @include subTitle-style;
    padding: 0 0 40px;
    display: block;
    margin: 0 auto;
  }

  &-tab {
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 25px;
      }
    }
    &__btn {
      width: 40px;
      height: 40px;
      background-color: $color-blackGray;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & + .services-tab__btn {
        margin-left: 14px;
      }
      &.tab-btn-active {
        background-color: $color-green;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      &-title {
        @include title-style;
        color: $color-blackGray;
        margin-bottom: 10px;
      }
    }
    &__block1 {
      width: 40%;
      @include subTitle-style;
      text-align: left;
    }
    &__block2 {
      width: 44%;
      @include subTitle-style;
      margin-top: 30px;
      text-align: left;
    }
  }
}

.featured {
  padding: 72px 0;

  & .container {
    max-width: 1366px;
    padding: 0;
  }
  &-title {
    @include title-style;
  }
  &-subTitle {
    @include subTitle-style;
  }
  &-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: minmax(300px, 700px) repeat(2, 300px);
    justify-content: center;
  }
  &-item {
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    & img {
      object-fit: cover;
      object-position: center;
    }
    &__hover {
      @include hoverBlock;
    }
  }
  .featured-item:hover .featured-item__hover {
    opacity: 1;
    visibility: visible;
  }
}

.news {
  background: url('../media/image/news/news-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  &-inner {
    @include leveling;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  &-title {
    @include title-style;
    color: $color-white;
    margin: 0;
  }
  &-submit {
    @include btn-style;
    border-color: $color-white;
    color: $color-white;
    padding: 10px 25px;
    display: inline-block;
  }
  &-bold {
    font-weight: bold;
  }
}

.details {
  padding: 76px 0 124px;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-info {
    @include leveling;
    margin-top: 60px;
    flex-wrap: wrap;
  }
  &-descriptions {
    width: 50%;
    padding: 0 20px 0 30px;
  }
  &-description__item {
    position: relative;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 60px;
    max-width: 400px;
    &-title {
      @include title-style;
      text-align: left;
      margin-bottom: 35px;
      max-width: 440px;
    }
    &-text {
      max-width: 500px;
    }
    &:first-child {
      &:before,
      &:after {
        left: -20px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      &::before {
        content: '';
        background: url('../media/image/details/details-ico_1.png');
        background-size: 100% 100%;
        top: 0;
      }
      &::after {
        content: '';
        background: url('../media/image/details/details-ico_2.png');
        background-size: 100% 100%;
        top: 70px;
      }
    }
    &:last-child {
      &:before,
      &:after {
        left: -20px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      &::before {
        content: '';
        background: url('../media/image/details/details-ico_3.png');
        background-size: 100% 100%;
        top: -30px;
      }
      &::after {
        content: '';
        background: url('../media/image/details/details-ico_4.png');
        background-size: 100% 100%;
        top: 40px;
      }
    }
  }

  &-indicators {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    &__item {
      & + .details-indicators__item {
        margin-left: 20px;
      }
    }
    &__circle {
      border-radius: 50%;
      background: $color-green;
      width: 120px;
      height: 120px;
      @include center-block;
      position: relative;
      overflow: hidden;
      z-index: 1;

      .details-indicators__item:first-child &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $color-darkGreen;
        top: 0;
        right: 0;
        z-index: 2;
      }
      .details-indicators__item:nth-child(2) &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $color-darkGreen;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
      .details-indicators__item:nth-child(3) &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $color-darkGreen;
        bottom: 0;
        right: 0;
        z-index: 2;
      }
    }
    &__block {
      background-color: #fff;
      width: 114px;
      height: 114px;
      border-radius: 50%;
      z-index: 3;
      @include center-block;
      font-size: 25px;
    }
    &__title {
      font-size: 16px;
      line-height: 24px;
      margin-top: 15px;
    }
  }
}

.impressed {
  background: url('../media/image/impressed/impressed-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-info {
    max-width: 600px;
    padding: 70px 0 80px;
    color: $color-white;
    width: 40%;
    &__title {
      @include title-style;
      text-align: left;
      color: $color-white;
      letter-spacing: 2px;
    }
    &__description {
      padding: 50px 0;
      line-height: 25px;
      color: $color-lightGray;
    }
    &__author {
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    &__text {
      text-transform: uppercase;
    }
  }
  &-img {
    text-align: right;
    & img {
      margin-top: -30px;
    }
  }
}

.portfolio {
  padding: 70px 0 70px;
  background-color: $color-superLightGray;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 0 60px;
    & li {
      font-size: 16px;
      color: $color-blackGray;
      cursor: pointer;
      position: relative;
      display: inline-block;
      margin: 0 13px 30px;
      &.active::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $color-green;
        position: absolute;
        bottom: -14px;
        left: 0;
      }
      &.active:hover {
        color: $color-blackGray;
      }
      &:hover {
        color: $color-green;
      }
    }
  }
  &-items {
    columns: 4;
  }
  &-item {
    width: 268px;
    margin: 0 auto 10px;
    position: relative;
    & img {
      width: 100%;
    }
    &__hover {
      @include hoverBlock;
      padding: 30px;
      align-items: flex-start;
      &-title {
        @include title-style;
        color: $color-green;
        position: relative;
        &::before {
          content: '';
          width: 40px;
          height: 2px;
          background-color: $color-green;
          position: absolute;
          bottom: -20px;
          left: 0;
        }
      }
      &-text {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      &-btn {
        &-link,
        &-like {
          background-color: $color-blackGray;
          border-radius: 50%;
          line-height: 0;
          padding: 10px;
          text-align: left;
          & img {
            width: 20px;
          }
          &:hover {
            background-color: $color-darkGreen;
          }
        }
        &-link {
          margin-right: 10px;
        }
      }
    }
    &:hover .portfolio-item__hover {
      visibility: visible;
      opacity: 1;
    }
  }
  &-start {
    background: url('../media/image/portfolio/portfolio-start_bg.jpg');
    background-repeat: no-repeat;
    padding: 57px 10px;
    margin-top: 50px;
    &__title {
      @include title-style;
      color: $color-white;
    }
    &__btn {
      @include btn-style;
      border-color: $color-white;
      color: $color-white;
      display: block;
      margin: 0 auto;
    }
  }
}

.team {
  padding: 80px 0;
  position: relative;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
    margin-bottom: 100px;
  }
  &-swiper {
    width: 100%;
    overflow: hidden;
  }

  .swiper-pagination {
    &-bullet {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid $color-darkGreen;
      background-color: transparent;
      opacity: 1;
      &-active {
        background-color: $color-darkGreen;
      }
    }
  }
  &-slide {
    & img {
      width: 285px;
      height: 364px;
      object-fit: cover;
      object-position: center;
    }
  }
  & .swiper-slide {
    padding: 0 20px;

    &:nth-child(1) {
      .team-slide__indicator {
        &:nth-child(1) span {
          width: 80%;
        }
        &:nth-child(2) span {
          width: 65%;
        }
        &:nth-child(3) span {
          width: 75%;
        }
      }
    }

    &:nth-child(2) {
      .team-slide__indicator {
        &:nth-child(1) span {
          width: 30%;
        }
        &:nth-child(2) span {
          width: 15%;
        }
        &:nth-child(3) span {
          width: 100%;
        }
      }
    }
    &:nth-child(3) {
      .team-slide__indicator {
        &:nth-child(1) span {
          width: 81%;
        }
        &:nth-child(2) span {
          width: 67%;
        }
        &:nth-child(3) span {
          width: 39%;
        }
      }
    }
  }

  &-slide {
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-wrap: wrap;

    &__titles {
      position: relative;
      &:before {
        content: '';
        width: 4px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        background-color: $color-darkGreen;
      }
    }
    &__title {
      @include title-style;
      font-family: $font-OpenSans-Regular;
      text-align: right;
      margin-bottom: 0;
    }
    &__subtitle {
      font-style: italic;
      margin: 10px 0 30px;
    }
    &__text {
      font-size: 16px;
      color: $color-lightGray;
      font-family: $font-SourceSansPro-Light;
      line-height: 25px;
      max-width: 380px;
      margin-bottom: 36px;
    }
    &__indicator {
      margin-bottom: 30px;
      &-line {
        position: relative;
        & span {
          height: 100%;
          background-color: $color-darkGreen;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
      }
      &-line {
        width: 100%;
        height: 4px;
        background-color: $color-lightGray;
      }
    }
  }
}

.talk {
  background: url('../media/image/talk/talk-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 40px 0;
  margin-top: 90px;
  &-title {
    @include title-style;
    color: $color-white;
  }
  &-contact {
    @include btn-style;
    border-color: $color-white;
    color: $color-white;
  }
}

.testimonials {
  background-color: $color-superLightGray;
  padding: 70px 0;

  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-swiper {
    margin-top: 70px;
    position: relative;
    overflow: hidden;
  }
  .swiper-pagination {
    bottom: 10px;
    &-bullet {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid $color-darkGreen;
      background-color: transparent;
      opacity: 1;
      &-active {
        background-color: $color-darkGreen;
      }
    }
  }
  &-slide {
    display: flex;
    align-items: center;
    padding: 50px 80px 70px;
    background-color: $color-white;
    &__info {
      margin-left: 40px;
      &-text {
        @include subTitle-style;
        text-align: left;
        max-width: 100%;
      }
      &-author {
        font-weight: bold;
        color: $color-green;
        font-size: 16px;
        margin: 20px 0 8px;
      }
      &-rank {
        font-size: 14px;
        color: $color-blackGray;
      }
    }
  }
}

.price {
  background-color: $color-superLightGray;
  padding: 70px 0 40px;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 50px auto 0;
  }
  &-card {
    margin: 0 25px 50px;
    width: 238px;
    background-color: $color-white;
    &__title {
      font-weight: bold;
      @include title-style;
      margin-bottom: 0;
      padding: 30px 0;
      background-color: $color-green;
      color: $color-white;
    }
    &__info {
      @include center-block;
      width: 100%;
      height: 236px;
      &-cost {
        color: $color-green;
        font-family: $font-SourceSansPro-Black;
        font-size: 42px;
        margin-bottom: 10px;
      }
      &-time {
        font-size: 20px;
        color: $color-lightGray;
      }
      &-services {
        color: $color-lightGray;
        line-height: 25px;
      }
    }
    &__start {
      background-color: $color-green;
      padding: 30px 0;
      position: relative;
      width: 100%;
      font-size: 16px;
      color: $color-white;
      &:before {
        content: '';
        position: absolute;
        background-image: url('../media/image/global-icons/arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        top: 50%;
        right: 60px;
        transform: translateY(-50%) rotate(-90deg);
        transition: 0.2s linear;
      }
      &:hover {
        background-color: $color-darkGreen;
        &:before {
          right: 50px;
        }
      }
    }
  }
}

.subscribe {
  padding: 70px 0;
  background: url('../media/image/subscribe/subscribe-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &-title {
    @include title-style;
    color: $color-white;
  }
  &-subtitle {
    @include subTitle-style;
    color: $color-white;
    margin-bottom: 40px;
  }
  &-form {
    text-align: center;
    &__input {
      border: 1px solid $color-lightGray;
      background-color: transparent;
      width: 360px;
      height: 44px;
      padding: 10px;
      color: $color-white;
    }
    &__btn {
      height: 44px;
      width: 150px;
      background-color: $color-green;
      color: $color-white;
      &:hover {
        background-color: $color-darkGreen;
      }
    }
  }
}

.contact {
  padding: 70px;
  background-color: $color-superLightGray;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-card {
    text-align: center;
    background-color: $color-white;
    padding-bottom: 20px;
    margin: 0 10px 20px;
    & a {
      display: block;
      margin-bottom: 8px;
    }
    & p {
      margin-bottom: 8px;
    }
    &__info {
      &-title {
        padding: 20px 0;
      }
    }
  }
}

.contactform {
  padding: 80px 0 100px;
  & .container {
    max-width: 940px;
  }
  & input,
  textarea {
    border: 1px solid $color-lightGray;
    color: $color-blackGray;
    background: transparent;
    padding: 10px;
  }
  &-form {
    &__info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      & input {
        width: 270px;
      }
    }
    &__message {
      margin-top: 30px;
      & textarea {
        display: block;
        max-width: 100%;
        min-width: 100%;
        min-height: 186px;
        max-height: 340px; /* Максимальная высота */
        resize: both; /* Позволяет изменять размеры в обе стороны */
      }
    }
  }
  &-submit {
    width: 100%;
    height: 50px;
    color: $color-white;
    background-color: $color-green;
    &:hover {
      background-color: $color-darkGreen;
    }
  }
}

.map {
  .container {
    max-width: 1366px;
    padding: 0;
  }
  & iframe {
    width: 100%;
    height: 490px;
  }
}

.footer {
  padding: 70px 0;
  text-align: center;
  &-logo {
    @include logo;
    color: $color-blackGray;
  }
  &-title {
    @include subTitle-style;
    margin: 20px auto;
  }
  &-social {
    & a img {
      margin: 0 5px;
    }
  }
}

@import 'mediaQueries';
