@import 'stylereset';
@import 'vars';
@import 'fonts';

html,
body {
  height: 100%;
  font-family: $font-OpenSans-Regular;
  color: $color-lightGray;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1174px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 44px 0;
  position: absolute;
  width: 100%;
  z-index: 990;

  &-inner {
    @include leveling;
  }
  &-logo {
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-big-john;
    font-size: 25px;
    color: $color-white;
  }
  &-nav {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      align-items: center;
    }
    & a {
      padding: 6px 18px;
      color: $color-white;
      font-size: 16px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: $color-green;
        transition: width 0.35s;
      }
      &:hover:before {
        width: 100%;
      }
      &.active {
        border: 1px solid $color-white;
        border-radius: 40px;
        &:hover:before {
          width: 0;
        }
      }
    }
  }
}

.intro {
  @include center-block;
  background: url('../media/image/intro/intro-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 737px;
  text-align: center;
  color: $color-white;
  position: relative;
  max-width: 1900px;
  margin: 0 auto;

  &-title {
    @include title-style;
    font-size: 35px;
    color: $color-white;
    letter-spacing: 15px;
    margin-top: 200px;
    line-height: 50px;
  }
  &-subTitle {
    @include subTitle-style;
    max-width: 600px;
    margin: 42px auto 200px;
    color: $color-white;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 28px;
  }

  &-btn__down {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-green;
    @include center-block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: $color-darkGreen;
    }
  }
}

.about {
  padding: 80px 0 60px;

  & .container {
    max-width: 896px;
    padding: 0 50px;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &-content {
    &__title {
      @include title-style;
      text-align: left;
    }
    &__text {
      @include subTitle-style;
      max-width: 470px;
      margin: 0 0 50px;
      text-align: left;
    }
    &__btn {
      @include btn-style;
    }
  }
  &-img {
    text-align: center;
  }
}

.services {
  background-color: $color-superLightGray;
  padding: 73px 0 99px;

  &-title {
    @include title-style;
  }
  &-subTitle {
    @include subTitle-style;
    padding: 0 0 40px;
    display: block;
    margin: 0 auto;
  }

  &-tab {
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__btn {
      width: 40px;
      height: 40px;
      background-color: $color-blackGray;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & + .services-tab__btn {
        margin-left: 14px;
      }
      &.active {
        background-color: $color-green;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      &-title {
        @include title-style;
        color: $color-blackGray;
        margin-bottom: 10px;
      }
    }
    &__block1 {
      width: 40%;
      @include subTitle-style;
      text-align: left;
    }
    &__block2 {
      width: 44%;
      @include subTitle-style;
      margin-top: 30px;
      text-align: left;
    }
  }
}

.featured {
  padding: 72px 0;

  & .container {
    max-width: 1366px;
    padding: 0;
  }
  &-title {
    @include title-style;
  }
  &-subTitle {
    @include subTitle-style;
  }
  &-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: minmax(300px, 700px) repeat(2, 300px);
    justify-content: center;
  }
  &-item {
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    & img {
      object-fit: cover;
      object-position: center;
    }
    &__hover {
      @include hoverBlock;
    }
  }
  .featured-item:hover .featured-item__hover {
    opacity: 1;
    visibility: visible;
  }
}

.news {
  background: url('../media/image/news/news-bg.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  &-inner {
    @include leveling;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  &-title {
    @include title-style;
    color: $color-white;
    margin: 0;
  }
  &-submit {
    @include btn-style;
    border-color: $color-white;
    color: $color-white;
  }
  &-bold {
    font-weight: bold;
  }
}

.details {
  padding: 76px 0 124px;
  &-title {
    @include title-style;
  }
  &-subtitle {
    @include subTitle-style;
  }
  &-info {
    @include leveling;
    margin-top: 60px;
    flex-wrap: wrap;
  }
  &-descriptions {
    width: 50%;
    padding: 0 20px 0 30px;
  }
  &-description__item {
    position: relative;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 60px;
    max-width: 400px;
    &-title {
      @include title-style;
      text-align: left;
      margin-bottom: 35px;
      max-width: 440px;
    }
    &-text {
      max-width: 500px;
    }
    &:first-child {
      &:before,
      &:after {
        left: -20px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      &::before {
        content: '';
        background: url('../media/image/details/details-ico_1.png');
        background-size: 100% 100%;
        top: 0;
      }
      &::after {
        content: '';
        background: url('../media/image/details/details-ico_2.png');
        background-size: 100% 100%;
        top: 70px;
      }
    }
    &:last-child {
      &:before,
      &:after {
        left: -20px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      &::before {
        content: '';
        background: url('../media/image/details/details-ico_3.png');
        background-size: 100% 100%;
        top: -30px;
      }
      &::after {
        content: '';
        background: url('../media/image/details/details-ico_4.png');
        background-size: 100% 100%;
        top: 40px;
      }
    }
  }

  &-indicators {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    &__item {
      & + .details-indicators__item {
        margin-left: 20px;
      }
    }
    &__circle {
      border-radius: 50%;
      background: $color-green;
      width: 120px;
      height: 120px;
      @include center-block;
      position: relative;
      overflow: hidden;
      z-index: 1;

      .details-indicators__item:first-child &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $color-darkGreen;
        top: 0;
        right: 0;
        z-index: 2;
      }
      .details-indicators__item:nth-child(2) &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $color-darkGreen;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
      .details-indicators__item:nth-child(3) &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $color-darkGreen;
        bottom: 0;
        right: 0;
        z-index: 2;
      }
    }
    &__block {
      background-color: #fff;
      width: 114px;
      height: 114px;
      border-radius: 50%;
      z-index: 3;
      @include center-block;
      font-size: 25px;
    }
    &__title {
      font-size: 16px;
      line-height: 24px;
      margin-top: 15px;
    }
  }
}

@import 'mediaQueries';
