$color-white: #fff;
$color-green: #19bd9a;
$color-darkGreen: #0d787d;
$color-blackGray: #333b46;
$color-lightGray: #81868e;

$font-big-john: 'big john';
$font-OpenSans-Regular: 'OpenSans Regular';
$font-SourceSansPro-Black: 'SourceSansPro Black';
$font-SourceSansPro-Light: 'SourceSansPro Light';

@mixin title-style {
  font-family: $font-SourceSansPro-Light;
  color: $color-blackGray;
  font-size: 20px;
  line-height: 25px;
}
@mixin subTitle-style {
  font-family: $font-OpenSans-Regular;
  color: $color-lightGray;
  font-size: 15px;
  line-height: 25px;
}

@mixin center-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
