@use '../../style/vars.scss' as *;

.not-found {
  @include center-block;
  height: 100vh;
  & h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
  }
  & p {
    color: red;
  }
}
